<center><div class="jumbotron">
<div class="container">
  <div class="row">
      <center><div class="col-12"><h2>BUSCAR ESTACIONAMIENTO</h2></div></center>
      <br>
      <div class="col-12">
          <div id="custom-search-input">
                <div class=input-group">
                    <input type="text" class="search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                      </span>
                      <br>
                      <p><a class="btn btn-primary btn-lg" href=<%= pages_buscar_estacionamiento_path %> role="button">Buscar</a></p>
                </div>
            </div>
        </div>
  </div>
</div>
</div></center>

