<center><div class="jumbotron">
  <center><h1>PARQUIMOVIL PERU</h1></center>
  <p>Reserva tu estacionamiento en cualquier destino con solo un click!!!</p>
  <br>
  <br>
  <p><a class="btn btn-primary btn-lg" href=<%= pages_buscar_estacionamiento_path %> role="button">Buscar estacionamiento</a></p>
</div></center>